#!/usr/sbin/nft -f

flush ruleset

table inet rules {
	chain input {
		type filter hook input priority filter;
		policy drop
		ct state invalid drop comment "early drop of invalid connections"
		ct state {established, related} accept comment "allow tracked connections"
		iifname lo accept comment "allow from loopback"
		iifname wg0 accept comment "allow from wireguard"
		ip protocol icmp accept comment "allow icmp"
		meta l4proto ipv6-icmp accept comment "allow icmp v6"
		tcp dport ssh accept comment "allow ssh"
		udp dport {{ wireguard_server_listen_port }} accept comment "allow wireguard"
	}
	chain forward {
		type filter hook forward priority filter;
	}
	chain output {
		type filter hook output priority filter;
	}
	chain postrouting {
		type nat hook postrouting priority srcnat;
		policy accept
		oiftype ether masquerade
	}
}